:root {
    --blue: #1581e6;
    --indigo: #7529ee;
    --purple: #57329c;
    --pink: #ce558d;
    --red: #df4453;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #3eac58;
    --teal: #4fe0b5;
    --cyan: #3ab4c7;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #79838b;
    --success: #2fa049;
    --info: #3fa6b6;
    --warning: #ffcb31;
    --danger: #f3182e;
    --light: #f8f9fa;
    --dark: #464a4e;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: 游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}